
{{ frappe.render_template("epos_restaurant_2023/selling/doctype/emenu/templates/components/header_logo.html", {"doc":doc}) }}
<div class="container sections-content-1">
    <div class="sections sections-content">
    
    {{ frappe.render_template("epos_restaurant_2023/selling/doctype/emenu/templates/components/header_title_description.html", {"doc":doc}) }}
    
    {{ frappe.render_template("epos_restaurant_2023/selling/doctype/emenu/templates/components/promotion_slideshow.html", {"doc":doc,"promotion":promotion}) }}
    <!-- {{ frappe.render_template("epos_restaurant_2023/selling/doctype/emenu/templates/components/navigation_menu.html", {"doc":doc}) }} -->
    <!-- {{ frappe.render_template("epos_restaurant_2023/selling/doctype/emenu/templates/components/popular_product.html", {"doc":doc,"popular_products":popular_products}) }} -->
    <br/>
    {{ frappe.render_template("epos_restaurant_2023/selling/doctype/emenu/templates/emenu_layout_2/menu_list.html", {"pos_menus":pos_menus, "placeholder_bg":doc.category_placeholder_background}) }}



    </div>
</div>
