
{% if doc.is_mobile_show_1_column == 1%}
    
<div style="height: 0 !important;" class="header">

</div>
<div >
    <div class="container">
        <div class="d-flex justify-center py-2">
            <div class="logo">
                <img loading="lazy" src="{{doc.logo or " /files/no_image.jpg"}}" alt="">
            </div>
            <h3>QR Menu</h3>
        </div>
    </div>
</div>
{% else %}
<header class="menu-header header">

    <!-- <div class="top-nav">
        <button class="nav-btn">☰</button> 
    </div> -->

    <div class="menu-brand">
        <h1 class="text-white">{{doc.emenu_app_name}}</h1>
        <p>{{doc.slogan}}</p>

        <div class="menu-badge">
            <span></span>
            {{doc.working_hour}}
        </div>
    </div>

</header>
{%endif%}

<div class="screen-overlay"></div>

<div class="small-scx-cate">
    <div class="p-3 position-relative">
        <nav class="">
            <div class="position-relative">
                <div class="tab-bar">  
                    <div class="d-flex flex-wrap gap-2 mb-0 navigt tabs" id="cateWrapper_mobile">
                        {% if (doc.popular_product | length) >0 %}
                        <a class="bg-white px-3 py-1 rounded-pill main-color nav-pro tab active"
                            href="#popular_product" data-target="popular_product">
                            <p>Popular Products</p>
                        </a>
                        {%endif%}

                        {% for m in doc.pos_menu_selections %}
                        <a class="bg-white px-3 py-1 rounded-pill main-color nav-pro tab" href="#{{m.name}}" data-target="{{m.name}}">
                            <p>{{m.menu}}</p>
                        </a>
                        {%endfor%}
                    </div> 
                </div>
            </div>
        </nav> 

        <div class="position-absolute hamburger-nav-mlx" id="hamburgerNavHideMenu">
            <div>
                <svg fill="#fff" width="25px" height="25px" viewBox="0 0 52 52" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M28.94,26,51.39,3.55A2.08,2.08,0,0,0,48.45.61L26,23.06,3.55.61A2.08,2.08,0,0,0,.61,3.55L23.06,26,.61,48.45A2.08,2.08,0,0,0,2.08,52a2.05,2.05,0,0,0,1.47-.61L26,28.94,48.45,51.39a2.08,2.08,0,0,0,2.94-2.94Z"></path></g></svg>
            </div>
        </div>
    </div> 
</div>

<div class="position-fixed hamburger-nav-ml" id="hamburgerNav">
    <div>
        <svg fill="#fff" width="30px" height="30px" viewBox="0 0 52 52" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M50,12.5H2a2,2,0,0,1,0-4H50a2,2,0,0,1,0,4Z"></path><path d="M50,28H2a2,2,0,0,1,0-4H50a2,2,0,0,1,0,4Z"></path><path d="M50,43.5H2a2,2,0,0,1,0-4H50a2,2,0,0,1,0,4Z"></path></g></svg>
    </div>
</div>


<div class="section-main-wraper mt-3">
      
    <div class="py-3 my-3 nav-pro-wrapper border border-start-0 border-end-0 border-bottom-0 large-scx-cate">
        <nav class="container">
            <div class="position-relative">
                <div class="tab-bar">
                    <div class="left-arrow" id="scrollLeft">
                        <p><i class="fas fa-chevron-left"></i></p>
                    </div>

                    <div class="d-flex gap-2 mb-0 navigt tabs" id="cateWrapper">
                        {% if (doc.popular_product | length) >0 %}
                        <a class="bg-white px-3 py-1 rounded-pill main-color nav-pro tab active"
                            href="#popular_product" data-target="popular_product">
                            <p>Popular Products</p>
                        </a>
                        {%endif%}

                        {% for m in doc.pos_menu_selections %}
                        <a class="bg-white px-3 py-1 rounded-pill main-color nav-pro tab" href="#{{m.name}}" data-target="{{m.name}}">
                            <p>{{m.menu}}</p>
                        </a>
                        {%endfor%}
                    </div>

                    <div class="right-arrow active" id="scrollRight">
                        <p><i class="fas fa-chevron-right"></i></p>
                    </div>
                </div>
            </div>
        </nav>
    </div>   


    <div class="container sections-content-1">
        <div class="sections sections-content"> 


            {{ frappe.render_template("epos_restaurant_2023/selling/doctype/emenu/templates/components/popular_product.html", {"doc":doc,"popular_products":popular_products}) }}
             

            {% for m in doc.pos_menu_selections %}
             
            <div class="scroll-section" id="{{m.name}}">
                <div class="mt-4 mb-3 section-title">
                    {% set title = m.menu %}
                    <h2>{{title.split('(')[0]}}</h2>
                </div>
                <div class="row p-2">
                    {%for p in products|selectattr('pos_menu', 'equalto', m.menu)|list %}
 
                    <div class="product_detail col-6 col-md-6 col-lg-4 mb-3 text-dark" style="padding-left:5px;padding-right:5px">
                        <div class="col-inner">   
                            <a href="/product_detail?emenu_name={{doc.name}}&product_code={{p.product_code}}&category={{p.name}}" style="text-decoration: none;">
                                <div class="flex p-0 p-md-3 items-inner-1 m-0 h-100">
                                    <div class="p-0 wrapper-image" style="background: url('/files/food_bg_image.jpg');">
                                        <img loading="lazy" class="img pro-img-it" src="{{p.photo or " /files/food_bg_image.jpg"}}"/>
                                    </div>
                                    <div class="d-flex flex-column flex-lg-column py-3 ps-lg-3 py-lg-0 content-custom gap-2">
                                        <div class="title-x-code"> 
                                            <div class="mb-md-3 mb-lg-0">
                                                {% if p.product_name_en == p.product_name_kh %}
                                                <div class="item-tt-txtt" style="color: {{doc.kh_title_color}};">{{p.product_name_kh}}</div>
                                                {%else%}
                                                <div title="{{p.product_name_kh}}" class="item-tt-txtt" style="color: {{doc.kh_title_color}};">{{p.product_name_kh}}</div>
                                                <div title="{{p.product_name_en}}" class="item-tt-txtt en" style="color: {{doc.en_title_color}};">{{p.product_name_en}} </div>
                                                {%endif%} 
                                            </div>
                                            <!-- {% if p.description %}
                                                <div class="description-cs">{{p.description}}</div>
                                            {% endif %} -->
                                            <div class="rounded px-1 product-code">
                                                <p class="text-white" style="font-size:12px;">{{p.product_code}}</p>
                                            </div>
                                        </div>
                                        
                                        <div class="product-price-x">
                                        <div class="d-block d-xl-flex justify-between">
                                            <div class="cnter-txt mt-md-3 mt-lg-0">
                                                {% if p.prices != [] %}
                                                    {%set _prices = p.prices |selectattr('price_rule', 'equalto', doc.default_price_rule) | list  %}
                                                    {% if p.discount_value > 0 %}
                                                        <div class="d-flex gap-2 justify-center price-portion">    
                                                            {% if _prices[0].price != _prices[-1].price %}
                                                                <del class="price-cus" style="color:#ccc">{{frappe.format(_prices[0].price or 0,{"fieldtype":"Currency"})}}</del>
                                                                {% if _prices[-1].price != 0 %}
                                                                    <del class="price-cus" style="color:#ccc">{{frappe.format(_prices[-1].price or 0,{"fieldtype":"Currency"})}}</del>
                                                                {% endif %}
                                                            {% else %}
                                                                <del class="price-cus" style="color:#ccc">{{frappe.format(_prices[0].price or 0,{"fieldtype":"Currency"})}}</del>
                                                            {%endif%}

                                                            {% if p.discount_type=='Percent' %}
                                                                {% if _prices[0].price != _prices[-1].price %}
                                                                    <p class="price-cus">{{frappe.format(((_prices[0].price or 0) - ((_prices[0].price or 0)* (p.discount_value/100) )),{"fieldtype":"Currency"})}}</p>
                                                                    {%if _prices[-1].price != 0 %}
                                                                        <p class="price-cus">{{frappe.format(((_prices[-1].price or 0) - ((_prices[-1].price or 0)* (p.discount_value/100) )),{"fieldtype":"Currency"})}}</p>
                                                                    {% endif %}
                                                                {%else%}
                                                                    <p class="price-cus">{{frappe.format(((_prices[0].price or 0) - ((_prices[0].price or 0)* (p.discount_value/100) )),{"fieldtype":"Currency"})}}</p>
                                                                {% endif %}
                                                            {% else %}
                                                                {% if _prices[0].price != _prices[-1].price %}
                                                                    <p class="price-cus">{{frappe.format(((_prices[0].price or 0) - (p.discount_value) ),{"fieldtype":"Currency"})}}</p>
                                                                    {% if _prices[-1].price != 0 %}
                                                                        <p class="price-cus">{{frappe.format(((_prices[-1].price or 0) - (p.discount_value) ),{"fieldtype":"Currency"})}}</p>
                                                                    {% endif %}
                                                                {%else%}
                                                                    <p class="price-cus">{{frappe.format(((_prices[0].price or 0) - (p.discount_value) ),{"fieldtype":"Currency"})}}</p>
                                                                {% endif %}
                                                            {%endif%}
                                                        </div>
                                                    {%else%}
                                                        {% if _prices[0].price != _prices[-1].price %}
                                                            <span class="price-cus">{{frappe.format(_prices[0].price or 0,{"fieldtype":"Currency"})}}</span> <span class="price-cus">&#8594;</span>
                                                            {% if _prices[-1].price != 0 %}
                                                                <span class="price-cus">{{frappe.format(_prices[-1].price or 0,{"fieldtype":"Currency"})}}</span> 
                                                            {% endif %}
                                                        {% else %}
                                                            <span class="price-cus">{{frappe.format(_prices[0].price or 0,{"fieldtype":"Currency"})}}</span>
                                                        {% endif %}
                                                    {% endif %} 
                                                {% else %}
                                                    <div class="flex gap-2 price-prox">
                                                            {% if p.discount_value > 0 %}
                                                                <del class="price-cus" style="color: #ccc;">{{frappe.format(p.price,{"fieldtype":"Currency"})}}</del>
                                                                {% if p.discount_type=='Percent' %}
                                                                    <p class="price-cus">{{frappe.format((p.price or  0) - ((p.price or 0)* (p.discount_value/100) ),{"fieldtype":"Currency"})}}</p>
                                                                {%else%}
                                                                    <p class="price-cus">{{frappe.format((p.price or 0) - (p.discount_value) ,{"fieldtype":"Currency"})}}</p>
                                                                {%endif%}
                                                            {% else %}
                                                                <p class="price-cus">{{frappe.format(p.price,{"fieldtype":"Currency"})}}</p>
                                                            {% endif %}
                                                    </div>
                                                {% endif %}
                                            </div> 
                                        </div>
                                            {% if p.is_empty_stock_warning == 1%}
                                                <div>
                                                    <p class="text-black" style="font-size:12px;">* Out of Order</p>
                                                </div>
                                            {% endif %}
                                        </div>
                                        
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                   
                    {%endfor%}
                </div>
            </div> 
            {%endfor%}
        </div>
    </div>


    <div class="container footer-section">
        <hr />
        {% if doc.footer_description %}
        <h1>{{doc.footer_description }}</h1>
        {%endif%}
        <hr />
        <p class="text-center mb-3">Design by: eSTC</p>
    </div>
</div>

