<div class="col-12 col-md-4 col-lg-3 ">
    <a class="menu_category_list" href="/menu_category?menu_category={{menu.name|urlencode }}&parent_menu={{(parent_menu |urlencode ) or ''}}">
        <div class="position-relative">
            <div class="category_item category_list_item position-relative border" style="background: url('{{menu.photo or placeholder_bg}}');background-size: cover;"></div>
            <div class="position-absolute bottom-0 w-100">
                <div class="mb-2 mx-2 rounded text-center py-1  category-txt text-dark">{{menu.name}}</div>
            </div>
        </div>
    </a>
</div> 