{% if (popular_products | length) >0 %}
<hr/>
<div class="scroll-section" id="popular_product">
    <div class="mt-4 mb-3">
        <h2><i class="fas fa-fire main-color"></i> Popular Products</h2>
        <p>Our signature dishes</p>
    </div>

    {% if doc.is_mobile_show_1_column == 1%}
    <div class="d-flex justify-content-around owl-carousel owl-theme p-2" id="popular_product_carousel">
        {% for p in popular_products %}
        <div class="product_detail_mobile text-dark">
            <div class="col-inner-ml">
                <a href="/product_detail?emenu_name={{doc.name}}&product_code={{p.product_code}}&category=populars" style="text-decoration: none;">
                    <div class="p-0 items-inner-1 m-0 h-100">
                        <div class="p-0 wrapper-image position-relative mobile_img" style="background: url('/files/food_bg_image.jpg');">
                            <img loading="lazy" class="img pro-img-it mobile_img" src="{{p.photo or " /files/food_bg_image.jpg"}}"/>
                            <div class="promo_dis" style="bottom: 5px; background: #db3c76;right: 5px;">
                                <p class="text-white" style="font-size:12px;">{{p.product_code}}</p>
                            </div>
                            {% if p.is_empty_stock_warning == 1%}
                                <div class="promo_dis" style="bottom: 5px; background: #db3c76;left: 5px;">
                                    <p class="text-white" style="font-size:12px;">* Out of Order</p>
                                </div>                                       
                            {% endif %}
                            {% if p.discount_value > 0 %}
                                <div class="promo_dis" style="top: 5px; background: #db3c76;left: 5px;">
                                    {% if p.prices != [] %}
                                    
                                    {%set _prices = p.prices |selectattr('price_rule', 'equalto', doc.default_price_rule) | list  %}
                                    {% for price in _prices %}     
                                            {% if loop.index == 1 %}
                                                {% if p.discount_value > 0 %}
                                                    {% if p.discount_type == 'Percent' %}
                                                        {% set dis_value = p.discount_value %}
                                                            <p class="text-white">{{ dis_value | int }}% Off</p>
                                                        {% else %}
                                                        <p class="text-white">{{ frappe.format(p.discount_value, {"fieldtype": "Currency"}) }} Off</p>
                                                        {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% if p.discount_value > 0 %}
                                            {% if p.discount_type=='Percent' %}
                                                {% set dis_value = p.discount_value %}
                                                <p class="text-white">{{ dis_value | int }}% Off</p>
                                            {% else %}
                                                <p class="text-white">{{ frappe.format(p.discount_value,{"fieldtype":"Currency"})}} Off</p>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                            
                        </div>
                        <div class="d-flex flex-column flex-lg-column py-2 px-2 content-custom-ml">
                            <div class="text-start">
                                <div class="mb-lg-0">
                                    {% if p.product_name_en == p.product_name_kh %}                                    
                                        <div class="item-tt-txt-ml" style="color: {{doc.kh_title_color}};">{{p.product_name_kh}}</div>
                                    {%else%}
                                        <div title="{{p.product_name_kh}}" class="item-tt-txt-ml" style="color: {{doc.kh_title_color}};">{{p.product_name_kh}}</div>
                                        <div title="{{p.product_name_en}}" class="item-tt-txt-ml en" style="color: {{doc.en_title_color}};">{{p.product_name_en}}</div>
                                    {%endif%} 
                                </div>
                                {% if p.description %}
                                    <div class="text-start">{{p.description}}</div>
                                {% endif %}
                            </div> 
                            <div class="d-block d-xl-flex justify-between text-start"> 
                                <div class="cnter-txt mt-lg-0">
                                    {% if p.prices != [] %}
                                    
                                        {%set _prices = p.prices |selectattr('price_rule', 'equalto', doc.default_price_rule) | list  %}
                                        {% for price in _prices %}                                                   
                                            {% if p.discount_value > 0 %}
                                            <div class="d-flex gap-2 align-items-center">
                                            {%if price.portion != "Normal" %} <div><span class="meal-price portion" style="font-size: 14px !important;">{{price.portion}}</span></div> {%endif%}
                                                <div class="d-flex gap-2 text-start price-portion">    
                                                    
                                                    {% if p.discount_type=='Percent' %}
                                                        <p class="meal-price">{{frappe.format((price.price or 0) - ((price.price or 0)* (p.discount_value/100) ),{"fieldtype":"Currency"})}}</p>
                                                    {% else %}
                                                        <p class="meal-price">{{frappe.format((price.price or 0) - (p.discount_value) ,{"fieldtype":"Currency"})}}</p>
                                                    {%endif%}
                                                    <del class="del_price" style="color:#ccc">{{frappe.format(price.price or 0,{"fieldtype":"Currency"})}}</del>
                                                </div>
                                            </div>    
                                            {% else %}
                                                <p class="meal-price portion">
                                                    {%if price.portion != "Normal" %} <span style="font-size:14px;">{{price.portion}}:</span> {%endif%}
                                                    {{frappe.format(price.price or 0,{"fieldtype":"Currency"})}}
                                                </p>
                                            {% endif %}                          
                                        {% endfor %}
                                    {% else %}
                                        <div class="flex gap-2  text-start"> 
                                            {% if p.discount_value > 0 %}
                                                
                                                {% if p.discount_type=='Percent' %}
                                                    <p class="meal-price">{{frappe.format((p.price or  0) - ((p.price or 0)* (p.discount_value/100) ),{"fieldtype":"Currency"})}}</p>
                                                {%else%}
                                                    <p class="meal-price">{{frappe.format((p.price or 0) - (p.discount_value) ,{"fieldtype":"Currency"})}}</p>
                                                {%endif%}
                                                <del class="del_price" style="color: #ccc;">{{frappe.format(p.price,{"fieldtype":"Currency"})}}</del>
                                            {% else %}
                                                <p class="meal-price">{{frappe.format(p.price,{"fieldtype":"Currency"})}}</p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {%endfor%}
    </div>
    
    {%else%}
    <div class="row p-2">
        {% for p in popular_products %}
        <div class="product_detail col-6 col-lg-4 mb-3 text-dark" style="padding-left:5px;padding-right:5px">
            <div class="col-inner"> 
                <a href="/product_detail?emenu_name={{doc.name}}&product_code={{p.product_code}}&category={{p.name}}" style="text-decoration: none;">
                    <div class="flex p-0 p-lg-3 items-inner-1 m-0 h-100">
                        <div class="p-0 wrapper-image" style="background: url('/files/food_bg_image.jpg');">
                            <img loading="lazy" class="img pro-img-it" src="{{p.photo or " /files/food_bg_image.jpg"}}"/>
                        </div>
                        <div class="d-flex flex-column flex-lg-column py-3 ps-lg-3 py-lg-0 content-custom">
                            <div> 
                                <div class="mb-3 mb-lg-0">
                                    {% if p.product_name_en == p.product_name_kh %}
                                    <div class="item-tt-txtt" style="color: {{doc.kh_title_color}};">{{p.product_name_kh}}</div>
                                    {%else%}
                                    <div title="{{p.product_name_kh}}" class="item-tt-txtt" style="color: {{doc.kh_title_color}};">{{p.product_name_kh}}</div>
                                    <div title="{{p.product_name_en}}" class="item-tt-txtt en" style="color: {{doc.en_title_color}};">{{p.product_name_en}} </div>
                                    {%endif%} 
                                </div>
                                <!-- {% if p.description %}
                                    <div class="description-cs">{{p.description}}</div>
                                {% endif %} -->
                                <div class="rounded px-1 product-code">
                                    <p class="text-white" style="font-size:12px;">{{p.product_code}}</p>
                                </div>
                            </div>
                            
                            <div>
                            <div class="d-block d-xl-flex justify-between">
                                <div class="cnter-txt mt-3 mt-lg-0">
                                    {% if p.prices != [] %}
                                        {%set _prices = p.prices |selectattr('price_rule', 'equalto', doc.default_price_rule) | list  %}
                                        {% if p.discount_value > 0 %}
                                            <div class="d-flex gap-2 justify-center price-portion">    
                                                {% if _prices[0].price != _prices[-1].price %}
                                                    <del class="price-cus" style="color:#ccc">{{frappe.format(_prices[0].price or 0,{"fieldtype":"Currency"})}}</del>
                                                    {% if _prices[-1].price != 0 %}
                                                        <del class="price-cus" style="color:#ccc">{{frappe.format(_prices[-1].price or 0,{"fieldtype":"Currency"})}}</del>
                                                    {% endif %}
                                                {% else %}
                                                    <del class="price-cus" style="color:#ccc">{{frappe.format(_prices[0].price or 0,{"fieldtype":"Currency"})}}</del>
                                                {%endif%}

                                                {% if p.discount_type=='Percent' %}
                                                    {% if _prices[0].price != _prices[-1].price %}
                                                        <p class="price-cus">{{frappe.format(((_prices[0].price or 0) - ((_prices[0].price or 0)* (p.discount_value/100) )),{"fieldtype":"Currency"})}}</p>
                                                        {%if _prices[-1].price != 0 %}
                                                            <p class="price-cus">{{frappe.format(((_prices[-1].price or 0) - ((_prices[-1].price or 0)* (p.discount_value/100) )),{"fieldtype":"Currency"})}}</p>
                                                        {% endif %}
                                                    {%else%}
                                                        <p class="price-cus">{{frappe.format(((_prices[0].price or 0) - ((_prices[0].price or 0)* (p.discount_value/100) )),{"fieldtype":"Currency"})}}</p>
                                                    {% endif %}
                                                {% else %}
                                                    {% if _prices[0].price != _prices[-1].price %}
                                                        <p class="price-cus">{{frappe.format(((_prices[0].price or 0) - (p.discount_value) ),{"fieldtype":"Currency"})}}</p>
                                                        {% if _prices[-1].price != 0 %}
                                                            <p class="price-cus">{{frappe.format(((_prices[-1].price or 0) - (p.discount_value) ),{"fieldtype":"Currency"})}}</p>
                                                        {% endif %}
                                                    {%else%}
                                                        <p class="price-cus">{{frappe.format(((_prices[0].price or 0) - (p.discount_value) ),{"fieldtype":"Currency"})}}</p>
                                                    {% endif %}
                                                {%endif%}
                                            </div>
                                        {%else%}
                                            {% if _prices[0].price != _prices[-1].price %}
                                                <span class="price-cus">{{frappe.format(_prices[0].price or 0,{"fieldtype":"Currency"})}}</span> <span class="price-cus">&#8594;</span>
                                                {% if _prices[-1].price != 0 %}
                                                    <span class="price-cus">{{frappe.format(_prices[-1].price or 0,{"fieldtype":"Currency"})}}</span> 
                                                {% endif %}
                                            {% else %}
                                                <span class="price-cus">{{frappe.format(_prices[0].price or 0,{"fieldtype":"Currency"})}}</span>
                                            {% endif %}
                                        {% endif %} 
                                    {% else %}
                                        <div class="flex gap-2 justify-center">
                                                {% if p.discount_value > 0 %}
                                                    <del class="price-cus" style="color: #ccc;">{{frappe.format(p.price,{"fieldtype":"Currency"})}}</del>
                                                    {% if p.discount_type=='Percent' %}
                                                        <p class="price-cus">{{frappe.format((p.price or  0) - ((p.price or 0)* (p.discount_value/100) ),{"fieldtype":"Currency"})}}</p>
                                                    {%else%}
                                                        <p class="price-cus">{{frappe.format((p.price or 0) - (p.discount_value) ,{"fieldtype":"Currency"})}}</p>
                                                    {%endif%}
                                                {% else %}
                                                    <p class="price-cus">{{frappe.format(p.price,{"fieldtype":"Currency"})}}</p>
                                                {% endif %}
                                        </div>
                                    {% endif %}
                                </div> 
                            </div>
                                {% if p.is_empty_stock_warning == 1%}
                                    <div>
                                        <p class="text-black" style="font-size:12px;">* Out of Order</p>
                                    </div>
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {%endfor%}
    </div>
    {%endif%}
</div>
{%endif%}