<div class="scroll-section promotion_template_2" id="promo_section">
    
    {% if (promotion|length) > 0 %}
        <div class="promo-section mt-4 mb-3">
            <h1 class="text-center">Promotion</h1> 
        </div>
        <div class="justify-center w-100" > 
            <div class="d-flex justify-content-around owl-carousel owl-theme mb-3" id="slid_banner">
                {% for p in promotion %}
                    <div class="item overflow-hidden rounded">
                        <img class="lazy promo-st" src="{{p.photo or " /files/no_image.jpg"}}"/> 
                    </div>
                {% endfor %} 
            </div>
        </div>
    {% endif %}
</div>
