{% extends "templates/emenu_layout1.html" %}
{% block style%}
{{doc.css}}
{% endblock %}

{% block page_content %}
<button class="back-btn m-3" id="back-btn" onclick="goBack('{{emenu.route}}')">&#8592; Back to Menu</button>

<div class=" overflow-hidden modal-pp-items section-modal-detail">    
    <div class="modal-img px-3" style="background: #fff;">
        <img src="{{doc.photo or "/files/no_image.jpg"}}" alt="" >
    </div>
    <div class="p-3">
        <div class="section-top-under-img">
            <div class="">
                <div class="mb-2 wrapper-title-modal text-center">
                    {% if doc.is_empty_stock_warning == 1 %}
                        <p style="color:red;font-size:10px;">* Out of order</p>
                    {% endif %}
                    {% if doc.product_name_en == doc.product_name_kh%}
                    <h1 style="font-size: 36px;color:orange">{{doc.product_name_kh}}</h1>
                    {%else%}
                    <h1 style="font-size: 36px;color:orange">{{doc.product_name_kh}}</h1>
                    <h6>{{doc.product_name_en}}</h6>
                    {%endif%}
                </div>
                <div class="modal-pirc text-center">
                    {% if min_price == max_price %}
                        <strong>{{ frappe.format(doc.price,{"fieldtype":"Currency"})}}</strong>
                    {%else%}
                        <strong>{{ frappe.format(min_price,{"fieldtype":"Currency"})}} &#8594; {{
                        frappe.format(max_price,{"fieldtype":"Currency"})}}</strong>
                    {%endif%}
                </div>
            </div>
            <br/>
            <h5 class="text-center">Order now Call</h5>
            {% if emenu.phone_number %}
            <h1 style="color:orange" class="text-center">{{emenu.phone_number}}</h1>
            {% endif %}
            {% if emenu.address %}
            <div style="font-weight: 600;" class="text-center">{{emenu.address}}</div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}