
<div class="container" style="background: #f5f3f5;
    border-radius: 6px;padding:10px; ">
  <div class="row">
    <div class="col">
      {{__("Total Quantity")}}
    </div>
    <div class="col text-right">
      <strong>{{total_quantity}}</strong>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{__("Sub Total")}}
      
    </div>
    <div class="col text-right">
      <strong>{{frappe.format(sub_total,{"fieldtype":"Currency"})}}</strong>
    </div>
  </div>
  {% if item_discount %}
  <div class="row">
    <div class="col">
      {{__("Item Discount")}}
      
    </div>
    <div class="col text-right">
      <strong>{{frappe.format(item_discount,{"fieldtype":"Currency"})}}</strong>
    </div>
  </div>
  {%endif%}
  {% if discount %}
  <div class="row">
    <div class="col">
      {{__("Discount")}} {%if discount_type=="Percent"%} - {{discount}}%{%endif%}
    </div>
    <div class="col text-right">
      <strong>{{frappe.format(discount_amount,{"fieldtype":"Currency"})}}</strong>
    </div>
  </div>
  {%endif%}
     
  {% if item_discount>0 && discount_amount>0 %}
  <div class="row">
    <div class="col">
      {{__("Total Discount")}}
    </div>
    <div class="col text-right">
      <strong>{{frappe.format(total_discount ,{"fieldtype":"Currency"})}}</strong>
    </div>
  </div>
  {%endif%}
 
  {%if _temp_tax_rule.tax_1_name %}
  <div class="row">
    <div class="col"> 
        <span> {{_temp_tax_rule.tax_1_name}}({{tax_1_rate }}%)</span>
    </div>
    <div class="col text-right">
      <strong>{{frappe.format(tax_1_amount ,{"fieldtype":"Currency"})}}</strong>
    </div>
  </div>
  {%endif%}
  {%if  _temp_tax_rule.tax_2_name  %}
  <div class="row">
    <div class="col">
        <span>{{_temp_tax_rule.tax_2_name}}({{tax_2_rate}}%)</span>
    </div>
    <div class="col text-right">
      <strong>{{frappe.format(tax_2_amount ,{"fieldtype":"Currency"})}}</strong>
    </div>
  </div>
  {%endif%}
  {%if _temp_tax_rule.tax_3_name %}
  <div class="row">
    <div class="col">
        <span>{{_temp_tax_rule.tax_3_name}}({{tax_3_rate}}%)</span>
    </div>
    <div class="col text-right">
      <strong>{{frappe.format(tax_3_amount ,{"fieldtype":"Currency"})}}</strong>
    </div>
  </div>
 {%endif%} 
 

  <hr>
  <div class="row">
    <div class="col">
      <strong>{{__("Total Amount")}}</strong>
    </div>
    <div class="col text-right">
      <strong>{{frappe.format(total_amount ,{"fieldtype":"Currency"})}}</strong>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{__("Bank Fee")}}
    </div>
    <div class="col text-right">
      <strong data-bs-toggle="tooltip" data-bs-placement="top" title="Bank Fee">{{frappe.format(bank_fee ,{"fieldtype":"Percent"})}}</strong>
    </div>
  </div>
  
 
  {%if total_paid %}
  <div class="row">
    <div class="col">
      {{__("Paid")}}
    </div>
    <div class="col text-right">
      <strong data-bs-toggle="tooltip" data-bs-placement="top" title="Paid">{{frappe.format(total_paid + ( (total_amount*(bank_fee||0)/100)),{"fieldtype":"Currency"})}}</strong>
    </div>
  </div>
  {%endif%}
  <!-- balance -->
  {%if balance %}
  <div class="row">
    <div class="col">
      {{__("Balance")}}
    </div>
    <div class="col text-right">
      <strong>{{frappe.format(balance + ( (total_amount*(bank_fee||0)/100)) ,{"fieldtype":"Currency"})}}</strong>
    </div>
  </div>
  {%endif%}
  <!-- Change Amount -->
  {%if changed_amount %}
  <div class="row">
    <div class="col">
      {{__("Change Amount")}}
    </div>
    <div class="col text-right">
      <strong>{{frappe.format(changed_amount ,{"fieldtype":"Currency"})}}</strong>
    </div>
  </div>
  {%endif%}

 
  
</div>
 