.side_bar_menu {
    background: rgb(247, 150, 4);
}

.widget.shortcut-widget-box {
    background: #ebeef0 !important;
    padding: 10px !important;
}

.widget.shortcut-widget-box .es-icon {
    display: none !important;
}

.widget.links-widget-box {
    background: #f9fafa;
    border: solid 1px #e3dede;
}

.widget.custom-block-widget-box {
    padding: 0 !important;
}

.btn-primary {
    background: #0181c0 !important;
}

.navbar {
    background-image: url(../images/background/svg_blue1.png) !important;
    background-repeat: repeat-x;
    height: 60px !important;
}

.desk-sidebar .standard-sidebar-item.selected {
    background-color: #ceeaf985 !important;
}

@media (max-width: 1500px) and (min-width: 768px) {

    .ce-block.col-xs-12.col-sm-6.col-md-4,
    .ce-block.col-xs-12.col-sm-5 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.navbar-home img {
    width: 45px !important;
    max-height: unset !important;
}

.nav-item.dropdown.dropdown-help.dropdown-mobile.d-none.d-lg-block {
    display: none !important;
}

.navbar.navbar-expand.sticky-top #navbar-breadcrumbs li a {
    color: #000000 !important;
}

.navbar.navbar-expand.sticky-top .notifications-seen .icon {
    stroke: #fff !important;
} 

.page-card-head img.app-logo {
    max-height: 120px !important;
}

.custom_control .form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 1em;
    margin: 0 !important;

} 

.custom_control .form-group label {
    margin-right: 10px;

}
.page-container {
    position: relative;
}

.page-container::before {
    content: '';
    position: fixed; 
    left: 0;
    bottom: -35px;
    width: 100%;
    height: 100%;
    background-image: url(../images/background/backend-bg-rotate.png) !important;
    background-repeat: repeat-x;
    background-position: bottom;
} 
.wrapper-banner {
    background: url(../images/patterns/round.webp) !important;
}
/* .layout-main-section {
    background-color: transparent !important;
}  */

/* .layout-side-section {
    background: #042B2A;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} */
/* .sidebar-item-label {
    color: #fff
} */


.custom-tab{
    padding: 10px!important;
}
.custom-page-head{

    margin-bottom: 20px!important;
     
}

.custom-page-head .page-head-content{
    margin: 10px 0!important;
}
.nav-link.active-tab.active {
    color: #4338ca;
    background: #EEF2FF;
    border-radius: .5rem;
    border: 1px solid #e5e7eb;

}

/* sidebar menu css */
@media (min-width: 768px) {
    body.full-width .container {
        width:100% !important;
        padding-left: 70px;
        max-width: 100%;
    }
}
li.active {
    background:#edf6fd;
    border: 2px solid #0070cc !important;
    border-radius: 7px;
}
.navbar .navbar-brand {
    margin-left: -3%;
    opacity: 0;
}
#main-menu{
    z-index: 99999;
    background-color: red;
    position: absolute;
    top:0px;

}
.logo-sidebar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    height: 60px;
}
.logo-sidebar .app-logo {
    width: 36px;
}
.user-profile {
    display: flex;
    justify-content: center;
}
.us-pro-inner {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.sidebar-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* ====== */
.sidebar {
    position: fixed;
    z-index: 1040;
    left: 0;
    top: 0;
    bottom: 0;
    width: 56px;
    background-color: #f8fafc;
    color: #0c0101;
    padding: 10px 4px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li a{
    position: relative;
    padding-top: 3px;
    height: 40px;
}
.menu li {
    border: 2px solid transparent;
}

.menu a {
    display: flex;
    align-items: center;
    color: #160303;
    text-decoration: none;
}

.menu li:hover {
    background:#edf6fd;
    /* border: 2px solid transparent; */
    border-radius: 7px;
}

.menu .icon {
    font-size: 20px;
    display: inline-block;
    width: 26px;
    text-align: center;
    height: 100%;
}

.submenu-panel {
    width: 250px;
    background-color: #ffffff;
    color: #000000;
    height: 100vh;
    overflow: auto;
    position: fixed;
    left: -250px;
    top: 0;
    z-index: 1030;
    border: 1px solid #f8fafc;
    padding: 10px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #ededed;
    transition: 0.4s;
}

.mega-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mega-menu li {
    border-bottom: 1px solid #555;
}

.mega-menu a {
    display: block;
    padding: 15px 30px;
    color: #000000;
    text-decoration: none;
}

.mega-menu a:hover {
    background-color: #575757;
}

.menu-section-header {
    padding: 15px;
    cursor: pointer;
    background-color: #555;
    color: #000000;
}

.menu-section-content {
    display: none;
    padding-left: 15px;
}

.menu-section-header.active + .menu-section-content {
    display: block;
}

.search-input {
    padding: 7px;
    border: none;
    width: 100%; 
    box-sizing: border-box;
    background: #f3f3f3;
    border-radius: 7px;
}
#accordionExample .card-header,
#accordionExample .sub__menu {
    padding: 7px !important;
}
#accordionExample .sub__menu:hover {
    background-color: #edf6fd;
    border-radius: 7px;
}
#accordionExample .card-header{
    background-color: transparent !important;
    border: 0 !important;
}
#accordionExample .card-body {
    padding: 0 !important;
}
#accordionExample .card {
    border: 0 !important;
}
#accordionExample .btn:active,
#accordionExample div#driver-popover-item .driver-popover-footer button:active {
    background-color: transparent !important;
    box-shadow: unset !important;
}
.sub_menu_link,
#accordionExample .dir-menu{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 192px;
    display: block;
}
#accordionExample .sub_menu_link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 173px;
    display: block;
}
#accordionExample .dir-menu {
    margin-top:4px;
}
#submenu-panel .header-menu{
    background-color: #edf6fd;
    border-radius: 7px;
}
#hide_sub_menu svg{
    background: #edf6fd;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.tooltips {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltips .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 120%;
    margin-top: -16px;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 9999999;
}

.tooltips:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}



/* popover */
.popovers {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 5px;
    z-index: 1000;
    width: 130px;
    border-radius: 7px;
}

.popovers.active {
    display: block;
}
.popovers a:hover,
.submenu-content .shortcut_menu .sub-hover:hover {
    background-color: #edf6fd;
    border-radius: 7px;
}  
.popovers a {
    padding: 5px;
    display: block;
} 
.submenu-content .shortcut_menu .sub-hover a,
#accordionExample .sub__menu a,
#accordionExample .btn-link:focus {
    text-decoration: none;
}
.submenu-content .sub-hover.active, 
#accordionExample .sub__menu.active {
    background-color: #edf6fd;
    border-radius: 7px;
}

@media (max-width: 767.98px) {
    li.active {
        background-color: transparent !important;
    }
    .menu-btn {
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 1500;
        cursor: pointer;
        transition: 0.4s;
    } 
    .menu-btn div {
        width: 23px;
        height: 2px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    .menu-btn.open .bar1 {
        transform: rotate(-45deg) translate(-6px, 5px);
        background-color: #fff;
    }
    .menu-btn.open .bar2 {
        opacity: 0;
    }
    .menu-btn.open .bar3 {
        transform: rotate(45deg) translate(-6px, -5px);
        background-color: #fff;
    }
    .sidebar-a {
        width: 300px;
        height: 100vh;
        background-color: #fff;
        color: #fff;
        position: fixed;
        top: 0;
        left: -300px;
        transition: 0.4s;
        z-index: 10000;
        overflow: hidden;
    }
    .inner-sidebar {
        overflow-y: auto;
        height: 100vh;
    }
    .sidebar-a ul {
        list-style-type: none;
        padding: 0;
    }
    .sidebar-a ul li {
        margin-bottom: 2px;
    }
    .sidebar-a ul li a {
        padding: 10px;
        cursor: pointer;
        width: 100%;
        display: flex;
    } 
    .sidebar-a ul li:hover,
    .sidebar-a ul li a.active {
        background-color: #edf6fd;
    }
    .sidebar-a ul ul {
        display: none; 
    }
    .sidebar-a ul li.active > ul {
        display: block;
    }
    .sidebar-a ul ul li {
        padding-left: 30px;
    }
    .sidebar-a ul ul ul li {
        padding-left: 45px;
    }
    .sidebar-a.open {
        left: 0;
    }
    .navbar .navbar-brand {
        opacity: 1 !important;
    }
    li.active { 
        border: 0 solid transparent !important; 
        border-radius: 0 !important;
    }
    .arrow-drop-down {
        background-color: transparent;
        display: flex;
        height: 100%;
        padding: 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
    }
    .submenu.active .inner-li-ac,
    li.active .inner-li-ac {
        background-color: #edf6fd;
    }
    #accordionExample a.sub_menu_link {
        padding: 0 !important;
    }
    #accordionExample .sub__menu {
        padding: 10px !important;
    } 
    .sub_menu_link, #accordionExample .dir-menu {
        width: 192px !important;
        display: block !important;
    }
    .navbar .navbar-brand {
        margin-left: 9% !important;
    }
    .menu-btn.open {
        z-index: 100000;
        left: 269px;
        top: 2px;
        transition: 0.4s;
    }
}



/* Pagination */
#pagination .pagination {
text-align: center;
margin-top: 20px;
}

#pagination .pagination button {
padding: 5px 13px;
cursor: pointer;
outline: 1px solid #ededed;
border: none;
background: #f8f8f8;
color: #383838;
}
#pagination .pagination button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#pagination .pagination button:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#pagination .hidden {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

#pagination .pagination button.active {
background-color: #fff;
color: #383838;
}

.link_line_action{
    border: 1px dashed #4338ca;
    border-radius: 10px;
    padding: 0 5px;
    color: #4338ca;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* report filter */
.mobile_filter {
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100000;
    border-radius: 15px 15px 0px 0px;
    max-height: 450px;
    border: 1px solid #ccc;
    overflow: auto;
    padding-bottom: 0;
} 
.mobile_filter_back_drop {
 
    background: #00000061;
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10000;
}

.mobile_filter.show {
    opacity: 1;
    transform: translateY(0);
}
.dt-scrollable{
    height: 1000px!important;
}
.report-summary{
    gap: 0px!important;
    overflow: auto!important;
    flex-wrap:nowrap;
    margin: 10px 0px;
    display: flex !important;
}
.mobile_report_filter_wrapper {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    gap: 5px;
}
.prev-close {
    position: sticky;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #fff;
    text-align: center;
    display: flex;
}
.prev-close {
    display: flex;
    gap: 10px;
    padding: 5px;
}
.prev-close button {
    width: 50%; 
}
.mobile_report_filter_wrapper button{
    width: 50%;
}
.report-summary .summary-item {
    margin: 15px 0px !important;
}