{% if doc.template_name  %}
    {% extends "templates/emenu_templates/{}.html".format(doc.template_name) %}
{%endif%}

{% block title %} {{(doc.welcome_title)}} {% endblock %}

{% block style%}
 
{{doc.css}}

{% endblock %}

{% block page_content %}
    {{ frappe.render_template("epos_restaurant_2023/selling/doctype/emenu/templates/{}/index.html".format(doc.template_name),
        {
            "doc":doc,
            "popular_products":popular_products,
            "products":products,
            "promotion":promotion,
            "pos_menus":pos_menus
        }
    ) 
        
    }}
{% endblock %}