<div class="emenu-template-4">
  <div class="sidebar">
    <h3>Categories</h3> 
    <div class="menu-cate">
    {% for m in doc.pos_menu_selections %}
        <div class="menu-item" data-target="{{m.menu}}">
            {{m.menu}} {{'/' if m.menu!=m.menu_kh}} {{'' if m.menu==m.menu_kh else m.menu_kh }}
        </div> 
    {% endfor %}
    </div>
  </div>
  <div class="sidebar-mobile">
    <div class="flex justify-content-between items-center">
    <h3>Categories</h3> 
    <button id="close_btn" class="menu-toggle border-0 bg-transparent">
      <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    </button>
    </div>
    <hr/>
    <div class="menu-cate">
    {% for m in doc.pos_menu_selections %}
        <div class="menu-item" data-target="{{m.menu}}">
            {{m.menu}} {{'/' if m.menu!=m.menu_kh}} {{'' if m.menu==m.menu_kh else m.menu_kh }}
        </div> 
    {% endfor %}
    </div>
  </div>

  <div class="main">
    <div class="header-p">
      <button id="toggle_btn" class="menu-toggle border-0 bg-transparent">
      <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M20 7L4 7" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"></path> <path d="M20 12L4 12" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"></path> <path d="M20 17L4 17" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>
      </button>
      <h4 class="emenu-title mb-0">  
        {{doc.emenu_app_name or 'Emenu'}} 
      </h4>  
    </div>

    <div class="content" id="item_content">
        {% for m in doc.pos_menu_selections %}
        {% set title = m.menu %}
        <div class="product_items" id="{{m.menu}}">
          <div class="section-title">{{title.split('(')[0]}}</div>
          {{ frappe.render_template("epos_restaurant_2023/selling/doctype/emenu/templates/emenu_layout_4/product_card.html",
                    {"products":products,"m":m,"doc":doc}) }}
        </div>
        {% endfor %} 
      
    </div> 
    </div>
  </div>
</div>
